# IPL Winning Match Prediction

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Understanding available Dataset

In [2]:
match = pd.read_csv('data/matches.csv')

In [3]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
match.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [5]:
# Minimum starting id is 1 and Max is 11415 means some id records are missing in between because we have size of 756 only
match.shape

(756, 18)

In [6]:
# so as Match Id is just an denoting no as a reference so it don't have anything in deciding the winning team
match = match.drop(["id"], axis = 1)    # dropping id coloum
match = match.drop(["city"], axis = 1)       #dropping city coloumn becuase venue is already present
match.head()

,season,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           756 non-null    int64
 1   date             756 non-null    object
 2   team1            756 non-null    object
 3   team2            756 non-null    object
 4   toss_winner      756 non-null    object
 5   toss_decision    756 non-null    object
 6   result           756 non-null    object
 7   dl_applied       756 non-null    int64
 8   winner           752 non-null    object
 9   win_by_runs      756 non-null    int64
 10  win_by_wickets   756 non-null    int64
 11  player_of_match  752 non-null    object
 12  venue            756 non-null    object
 13  umpire1          754 non-null    object
 14  umpire2          754 non-null    object
 15  umpire3          119 non-null    object
dtypes: int64(4), object(12)
memory usage: 94.6+ KB

In [8]:
match.isnull().sum()

season               0
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [9]:
match.dropna(axis = 0).shape

(118, 16)

In [10]:
# due to lots of NA values in umpire3 it will decrease data so we will remove umpire first
match = match.drop(['umpire3'], axis = 1)

# we will consider game to be fair so, umpire1 and umpire2 will not affect the winner
# removing both column
match = match.drop(["umpire1"], axis = 1)
match = match.drop(["umpire2"], axis = 1)
match.shape

(756, 13)

In [11]:
match = match.dropna(axis = 0)

In [12]:
match.isnull().sum()

season             0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
dtype: int64

match

In [13]:
match.describe()

           season  dl_applied  win_by_runs  win_by_wickets
count   752.00000  752.000000   752.000000      752.000000
mean   2013.43617    0.025266    13.353723        3.368351
std       3.36761    0.157036    23.513486        3.388114
min    2008.00000    0.000000     0.000000        0.000000
25%    2011.00000    0.000000     0.000000        0.000000
50%    2013.00000    0.000000     0.000000        4.000000
75%    2016.00000    0.000000    19.000000        6.000000
max    2019.00000    1.000000   146.000000       10.000000

In [14]:
match.nunique()

season              12
date               544
team1               15
team2               15
toss_winner         15
toss_decision        2
result               2
dl_applied           2
winner              15
win_by_runs         89
win_by_wickets      11
player_of_match    226
venue               41
dtype: int64

In [15]:
match.result.unique()

array(['normal', 'tie'], dtype=object)

In [16]:
# results has 3 different values tie, no result and normal
# we have to excluse tie and no results matches out of data
match = match[match.result == 'normal']

# Now as all results are normal so, we will remove the entire column
match = match.drop(["result"], axis = 1)

In [17]:
match.head()

,season,date,team1,team2,toss_winner,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal"
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium

In [18]:
# Adding Results Column as 0 if team2 wins game 
match["result"] = 0    # add default as team2 wins then where team1 has win we will modify it later
match.head()

,season,date,team1,team2,toss_winner,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,result
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",0
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,0
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,0

In [19]:
# to change prediction value to 1 if team1 wins anf 0 if team 1 looses
# means 0 if team2 wins, This will help us to do prediction with accuracy

for ind in match.index:
    if(match['team1'][ind] == match['winner'][ind]):
        match["result"][ind] = 1

# Now as winner coloumn is not of any use so drop it
match = match.drop(['winner'], axis = 1)

<ipython-input-19-a3cc380c481e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match["result"][ind] = 1

In [20]:
match.head()

,season,date,team1,team2,toss_winner,toss_decision,dl_applied,win_by_runs,win_by_wickets,player_of_match,venue,result
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",1
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,0,0,6,GJ Maxwell,Holkar Cricket Stadium,0
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,0,15,0,KM Jadhav,M Chinnaswamy Stadium,1

In [21]:
# toss winner will not be decide team which will will match
# but the team which will be selecting field first will impatch the prediction 
# so, removing toss and if team1 is going to field then 1 else if bowl then 0
match["bat team"] = 0

for ind in match.index:
    if(match['team1'][ind] == match['toss_winner'][ind]):
        if(match['toss_decision'][ind] == 'bat'):
            match["bat team"][ind] = 1
        else:
            match["bat team"][ind] = 0
    else:
        if(match['toss_decision'][ind] == 'bat'):
            match["bat team"][ind] = 0
        else:
            match["bat team"][ind] = 1
            
match

<ipython-input-21-d1abe38de1b1>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match["bat team"][ind] = 1
<ipython-input-21-d1abe38de1b1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match["bat team"][ind] = 1

,season,date,team1,team2,toss_winner,toss_decision,dl_applied,win_by_runs,win_by_wickets,player_of_match,venue,result,bat team
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",1,1
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0,1
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0,1
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,0,0,6,GJ Maxwell,Holkar Cricket Stadium,0,1
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,0,15,0,KM Jadhav,M Chinnaswamy Stadium,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,2019,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,0,0,9,HH Pandya,Wankhede Stadium,0,1
752,2019,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,0,0,6,AS Yadav,M. A. Chidambaram Stadium,0,1
753,2019,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,0,0,2,RR Pant,ACA-VDCA Stadium,0,1
754,2019,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,0,0,6,F du Plessis,ACA-VDCA Stadium,0,1
755,2019,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,0,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,1,1

In [22]:
# Verify some toss results manually, correct :)
# remove all colums related to toss

match = match.drop(['toss_decision'],axis= 1)
#match = match.drop(['toss_winner'],axis= 1)

match.head()

,season,date,team1,team2,toss_winner,dl_applied,win_by_runs,win_by_wickets,player_of_match,venue,result,bat team
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",1,1
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0,1
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0,1
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,0,0,6,GJ Maxwell,Holkar Cricket Stadium,0,1
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0,15,0,KM Jadhav,M Chinnaswamy Stadium,1,1

## Models

In [23]:
match["bat team"]
match["bowl team"] = 0

for ind in match.index:
    if(match['bat team'][ind] == 1):
        match['bat team'][ind] = match['team1'][ind]
        match['bowl team'][ind] = match['team2'][ind]
    else:
        match['bat team'][ind] = match['team2'][ind]
        match['bowl team'][ind] = match['team1'][ind]
            
match

<ipython-input-23-f483e543704f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match['bat team'][ind] = match['team1'][ind]
C:\Users\krish\pythonproj\env\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-23-f483e543704f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match['bowl team'][ind] = match['team2'][ind]

,season,date,team1,team2,toss_winner,dl_applied,win_by_runs,win_by_wickets,player_of_match,venue,result,bat team,bowl team
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",1,Sunrisers Hyderabad,Royal Challengers Bangalore
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0,Mumbai Indians,Rising Pune Supergiant
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0,Gujarat Lions,Kolkata Knight Riders
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,0,0,6,GJ Maxwell,Holkar Cricket Stadium,0,Rising Pune Supergiant,Kings XI Punjab
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0,15,0,KM Jadhav,M Chinnaswamy Stadium,1,Royal Challengers Bangalore,Delhi Daredevils
...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,2019,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,0,0,9,HH Pandya,Wankhede Stadium,0,Kolkata Knight Riders,Mumbai Indians
752,2019,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,0,0,6,AS Yadav,M. A. Chidambaram Stadium,0,Chennai Super Kings,Mumbai Indians
753,2019,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,0,0,2,RR Pant,ACA-VDCA Stadium,0,Sunrisers Hyderabad,Delhi Capitals
754,2019,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,0,0,6,F du Plessis,ACA-VDCA Stadium,0,Delhi Capitals,Chennai Super Kings
755,2019,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,0,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,1,Mumbai Indians,Chennai Super Kings

In [24]:
match['venue'].unique()

array(['Rajiv Gandhi International Stadium, Uppal',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Green Park', 'Punjab Cricket Association Stadium, Mohali',
       'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
       'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
       'IS Bindra Stadium', 'ACA-VDCA Stadium'], dtype=object)

In [25]:
match['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [26]:
match['count'] = 1
match.groupby(['venue']).count()['count']

venue
ACA-VDCA Stadium                                         2
Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Dubai International Cricket Stadium                      7
Eden Gardens                                            77
Feroz Shah Kotla                                        66
Feroz Shah Kotla Ground                                  6
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
IS Bindra Stadium                                        7
JSCA International Stadium Complex                       7
Kingsmead                                               15
M Chinnaswamy Stadium                                   70
M. A. Chidambaram Stadium                                8
M. Chinnaswamy Stadium                                   6
MA Chidambaram Stadium, Chepauk                         48
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 6
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    14
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               55
Rajiv Gandhi Intl. Cricket Stadium                       8
Sardar Patel Stadium, Motera                            11
Saurashtra Cricket Association Stadium                   9
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Sheikh Zayed Stadium                                     6
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        72
Name: count, dtype: int64

In [27]:
match.head()

,season,date,team1,team2,toss_winner,dl_applied,win_by_runs,win_by_wickets,player_of_match,venue,result,bat team,bowl team,count
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",1,Sunrisers Hyderabad,Royal Challengers Bangalore,1
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,0,0,7,SPD Smith,Maharashtra Cricket Association Stadium,0,Mumbai Indians,Rising Pune Supergiant,1
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,0,0,10,CA Lynn,Saurashtra Cricket Association Stadium,0,Gujarat Lions,Kolkata Knight Riders,1
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,0,0,6,GJ Maxwell,Holkar Cricket Stadium,0,Rising Pune Supergiant,Kings XI Punjab,1
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0,15,0,KM Jadhav,M Chinnaswamy Stadium,1,Royal Challengers Bangalore,Delhi Daredevils,1

In [28]:
current_teams = ['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']

current_venues = ['Rajiv Gandhi International Stadium, Uppal',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Green Park', 'Punjab Cricket Association Stadium, Mohali',
       'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
       'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
       'IS Bindra Stadium', 'ACA-VDCA Stadium']

match = match[(match['bat team'].isin(current_teams)) &(match['bowl team'].isin(current_teams))]
match = match[(match['venue'].isin(current_venues))]

In [29]:
match.head()
match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 0 to 755
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           743 non-null    int64
 1   date             743 non-null    object
 2   team1            743 non-null    object
 3   team2            743 non-null    object
 4   toss_winner      743 non-null    object
 5   dl_applied       743 non-null    int64
 6   win_by_runs      743 non-null    int64
 7   win_by_wickets   743 non-null    int64
 8   player_of_match  743 non-null    object
 9   venue            743 non-null    object
 10  result           743 non-null    int64
 11  bat team         743 non-null    object
 12  bowl team        743 non-null    object
 13  count            743 non-null    int64
dtypes: int64(6), object(8)
memory usage: 87.1+ KB

In [30]:
# Converting 'date' from string into datetime object
#from datetime import datetime

#df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

# --- Data Preprocessing ---
# Converting categorical features using OneHotEncoding method
final_df = pd.get_dummies(data=match, columns=['bat team', 'bowl team', 'venue'])
final_df

,season,date,team1,team2,toss_winner,dl_applied,win_by_runs,win_by_wickets,player_of_match,result,...,venue_Saurashtra Cricket Association Stadium,venue_Sawai Mansingh Stadium,venue_Shaheed Veer Narayan Singh International Stadium,venue_Sharjah Cricket Stadium,venue_Sheikh Zayed Stadium,venue_St George's Park,venue_Subrata Roy Sahara Stadium,venue_SuperSport Park,"venue_Vidarbha Cricket Association Stadium, Jamtha",venue_Wankhede Stadium
0,2017,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,0,35,0,Yuvraj Singh,1,...,0,0,0,0,0,0,0,0,0,0
1,2017,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,0,0,7,SPD Smith,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,0,0,10,CA Lynn,0,...,1,0,0,0,0,0,0,0,0,0
3,2017,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,0,0,6,GJ Maxwell,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,0,15,0,KM Jadhav,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,2019,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,0,0,9,HH Pandya,0,...,0,0,0,0,0,0,0,0,0,1
752,2019,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,0,0,6,AS Yadav,0,...,0,0,0,0,0,0,0,0,0,0
753,2019,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,0,0,2,RR Pant,0,...,0,0,0,0,0,0,0,0,0,0
754,2019,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,0,0,6,F du Plessis,0,...,0,0,0,0,0,0,0,0,0,0
755,2019,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,0,1,0,JJ Bumrah,1,...,0,0,0,0,0,0,0,0,0,0

In [31]:
final_df = final_df.drop(["team1","team2","toss_winner","player_of_match","win_by_runs","win_by_wickets","count"], axis = 1)

In [32]:
final_df

,season,date,dl_applied,result,bat team_Chennai Super Kings,bat team_Deccan Chargers,bat team_Delhi Capitals,bat team_Delhi Daredevils,bat team_Gujarat Lions,bat team_Kings XI Punjab,...,venue_Saurashtra Cricket Association Stadium,venue_Sawai Mansingh Stadium,venue_Shaheed Veer Narayan Singh International Stadium,venue_Sharjah Cricket Stadium,venue_Sheikh Zayed Stadium,venue_St George's Park,venue_Subrata Roy Sahara Stadium,venue_SuperSport Park,"venue_Vidarbha Cricket Association Stadium, Jamtha",venue_Wankhede Stadium
0,2017,2017-04-05,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,2017-04-06,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,2017-04-07,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,2017,2017-04-08,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,2017-04-08,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,2019,05/05/19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
752,2019,07/05/19,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
753,2019,08/05/19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
754,2019,10/05/19,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
755,2019,12/05/19,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 0 to 755
Data columns (total 75 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   season                                                      743 non-null    int64
 1   date                                                        743 non-null    object
 2   dl_applied                                                  743 non-null    int64
 3   result                                                      743 non-null    int64
 4   bat team_Chennai Super Kings                                743 non-null    uint8
 5   bat team_Deccan Chargers                                    743 non-null    uint8
 6   bat team_Delhi Capitals                                     743 non-null    uint8
 7   bat team_Delhi Daredevils                                   743 non-null    uint8
 8   bat team_Gujarat Lions                                      743 non-null    uint8
 9   bat team_Kings XI Punjab                                    743 non-null    uint8
 10  bat team_Kochi Tuskers Kerala                               743 non-null    uint8
 11  bat team_Kolkata Knight Riders                              743 non-null    uint8
 12  bat team_Mumbai Indians                                     743 non-null    uint8
 13  bat team_Pune Warriors                                      743 non-null    uint8
 14  bat team_Rajasthan Royals                                   743 non-null    uint8
 15  bat team_Rising Pune Supergiant                             743 non-null    uint8
 16  bat team_Rising Pune Supergiants                            743 non-null    uint8
 17  bat team_Royal Challengers Bangalore                        743 non-null    uint8
 18  bat team_Sunrisers Hyderabad                                743 non-null    uint8
 19  bowl team_Chennai Super Kings                               743 non-null    uint8
 20  bowl team_Deccan Chargers                                   743 non-null    uint8
 21  bowl team_Delhi Capitals                                    743 non-null    uint8
 22  bowl team_Delhi Daredevils                                  743 non-null    uint8
 23  bowl team_Gujarat Lions                                     743 non-null    uint8
 24  bowl team_Kings XI Punjab                                   743 non-null    uint8
 25  bowl team_Kochi Tuskers Kerala                              743 non-null    uint8
 26  bowl team_Kolkata Knight Riders                             743 non-null    uint8
 27  bowl team_Mumbai Indians                                    743 non-null    uint8
 28  bowl team_Pune Warriors                                     743 non-null    uint8
 29  bowl team_Rajasthan Royals                                  743 non-null    uint8
 30  bowl team_Rising Pune Supergiant                            743 non-null    uint8
 31  bowl team_Rising Pune Supergiants                           743 non-null    uint8
 32  bowl team_Royal Challengers Bangalore                       743 non-null    uint8
 33  bowl team_Sunrisers Hyderabad                               743 non-null    uint8
 34  venue_ACA-VDCA Stadium                                      743 non-null    uint8
 35  venue_Barabati Stadium                                      743 non-null    uint8
 36  venue_Brabourne Stadium                                     743 non-null    uint8
 37  venue_Buffalo Park                                          743 non-null    uint8
 38  venue_De Beers Diamond Oval                                 743 non-null    uint8
 39  venue_Dr DY Patil Sports Academy                            743 non-null    uint8
 40  venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium   743 non-null    uint8
 41  venue_Dubai International Cricket Stadium                   743 non-null    uint8
 42  venue_Eden Gardens                                          743 non-null    uint8
 43  venue_Feroz Shah Kotla                                      743 non-null    uint8
 44  venue_Feroz Shah Kotla Ground                               743 non-null    uint8
 45  venue_Green Park                                            743 non-null    uint8
 46  venue_Himachal Pradesh Cricket Association Stadium          743 non-null    uint8
 47  venue_Holkar Cricket Stadium                                743 non-null    uint8
 48  venue_IS Bindra Stadium                                     743 non-null    uint8
 49  venue_JSCA International Stadium Complex                    743 non-null    uint8
 50  venue_Kingsmead                                             743 non-null    uint8
 51  venue_M Chinnaswamy Stadium                                 743 non-null    uint8
 52  venue_M. A. Chidambaram Stadium                             743 non-null    uint8
 53  venue_M. Chinnaswamy Stadium                                743 non-null    uint8
 54  venue_MA Chidambaram Stadium, Chepauk                       743 non-null    uint8
 55  venue_Maharashtra Cricket Association Stadium               743 non-null    uint8
 56  venue_Nehru Stadium                                         743 non-null    uint8
 57  venue_New Wanderers Stadium                                 743 non-null    uint8
 58  venue_Newlands                                              743 non-null    uint8
 59  venue_OUTsurance Oval                                       743 non-null    uint8
 60  venue_Punjab Cricket Association IS Bindra Stadium, Mohali  743 non-null    uint8
 61  venue_Punjab Cricket Association Stadium, Mohali            743 non-null    uint8
 62  venue_Rajiv Gandhi International Stadium, Uppal             743 non-null    uint8
 63  venue_Rajiv Gandhi Intl. Cricket Stadium                    743 non-null    uint8
 64  venue_Sardar Patel Stadium, Motera                          743 non-null    uint8
 65  venue_Saurashtra Cricket Association Stadium                743 non-null    uint8
 66  venue_Sawai Mansingh Stadium                                743 non-null    uint8
 67  venue_Shaheed Veer Narayan Singh International Stadium      743 non-null    uint8
 68  venue_Sharjah Cricket Stadium                               743 non-null    uint8
 69  venue_Sheikh Zayed Stadium                                  743 non-null    uint8
 70  venue_St George's Park                                      743 non-null    uint8
 71  venue_Subrata Roy Sahara Stadium                            743 non-null    uint8
 72  venue_SuperSport Park                                       743 non-null    uint8
 73  venue_Vidarbha Cricket Association Stadium, Jamtha          743 non-null    uint8
 74  venue_Wankhede Stadium                                      743 non-null    uint8
dtypes: int64(3), object(1), uint8(71)
memory usage: 80.5+ KB

In [34]:
y = final_df["result"]
x = final_df.drop(['result','date'], axis = 1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)
model_pred = model.predict(x_test)
model_score = accuracy_score(y_test, model_pred)
model_score

0.5570469798657718

In [35]:
from sklearn.ensemble import RandomForestClassifier

max_accuracy = 0
#selecting random state providing the highest accuracy
for x in range(200):
    rfc = RandomForestClassifier(random_state = x)
    rfc.fit(x_train,y_train)
    rfc_pred = rfc.predict(x_test)
    current_accuracy = round(accuracy_score(y_test, rfc_pred)*100,2)
    if(current_accuracy > max_accuracy):
        max_accuracy = current_accuracy
        rfc_best_x = x
        
rfc = RandomForestClassifier(random_state = rfc_best_x)
rfc.fit(x_train,y_train)
rfc_pred = rfc.predict(x_test)
rfc_score = accuracy_score(y_test, rfc_pred) 

rfc_score

0.5436241610738255

In [ ]:
x_train.info()